:root {
    --header-bg: #2a2a2a;
    --content-bg: #1a1a1a;
    --text-color: #f1f5f9;
    --primary-color: #9b30ff;
    --hover-color: #881ecc;
    --border-color: #333333;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--content-bg);
    color: var(--text-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.gallery {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 3rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 0;
}

@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
