.light {
    --bg-color: #ffffff;
    --bg-secondary: #e9ecef;
    --text-color: #000000;
    --icon-color: #2e2e2e;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --skeleton-bg: #e0e0e0;
    --header-bg: #dee2e6;
    --card-bg: #f9f9f9;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --button-hover-bg: #0056b3;
    --border-color: #ced4da;
    --shimmer-color-start: rgba(255, 255, 255, 0);
    --shimmer-color-middle: rgba(255, 255, 255, 0.5);
    --shimmer-color-end: rgba(255, 255, 255, 0);
}

.dark {
    --bg-color: #121212;
    --bg-secondary: #1c1c1c;
    --text-color: #ffffff;
    --icon-color: #ffffff;
    --primary-color: #1e90ff;
    --secondary-color: #adb5bd;
    --skeleton-bg: #1f1f1f;
    --header-bg: #1f1f1f;
    --card-bg: #2e2e2e;
    --shadow-color: rgba(0, 0, 0, 0.6);
    --button-hover-bg: #0d6efd;
    --border-color: #2c2c2c;
    --shimmer-color-start: rgba(58, 58, 58, 0);
    --shimmer-color-middle: rgba(58, 58, 58, 0.4);
    --shimmer-color-end: rgba(58, 58, 58, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

p {
    color: var(--text-color);
}

button {
    font-family: inherit;
}

/* 
/////////////// NAVBAR ///////////////
*/

.logo {
    height: 200px;
}

header {
    background-color: var(--header-bg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 5rem;
    overflow: hidden;
    border-bottom: 1px solid var(--border-color);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 5rem;
}

.buttons-container {
    display: flex;
    align-items: center;
    gap: 3rem;
}

/* 
/////////////// THEME BUTTON ///////////////
*/

.theme-btn {
    box-sizing: initial;
    width: 44px;
    height: 20px;
    border-radius: 12px;
    background-color: #ccc;
    border: 2px solid var(--icon-color);
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.theme-btn.dark {
    background-color: #4f4f4f;
}

.theme-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translateX(-0.4px);
    background-color: var(--icon-color);
    transition: transform 0.2s ease;
}

.theme-btn.dark::before {
    transform: translateX(24.5px);
}

/* 
/////////////// CART BUTTON ///////////////
*/

.cart-btn {
    display: flex;
    justify-content: flex-end;
    border: none;
    background: none;
}

.cart-btn i {
    color: var(--text-color);
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.cart-btn .item-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 20px;
    height: 20px;
    padding-left: 1px;
    padding-bottom: 2px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 50%;
    font-weight: 500;
}

/* 
/////////////// MAIN ///////////////
*/

main {
    background-color: var(--bg-color);
    margin-top: 5rem;
    padding: 3rem 0;
    min-height: calc(100vh - 5rem);
}

.tab-title-container {
    position: relative;
}

.back-btn {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: var(--primary-color);
    border-radius: 18px;
    border: 1px solid var(--border-color);
    padding: 6px 14px;
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--card-bg);
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: var(--button-hover-bg);
}

.tab-title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.empty-cart-message {
    font-size: 1.7rem;
    text-align: center;
    color: var(--text-color);
    margin-top: 10rem;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-auto-rows: 1fr;
    justify-items: center;
    gap: 2.3rem;
    padding: 2rem;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background-color: var(--bg-secondary);
    list-style: none;
}

/* 
/////////////// PRODUCT CARD ///////////////
*/

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
    max-width: 235px;
    padding: 1.2rem;
    border: 1px solid var(--border-color);
    border-radius: 12px;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 6px var(--shadow-color);
}

.product-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 1.1rem;
    width: 100%;
}

.star-icon {
    color: gold;
    font-size: 0.75rem;
}

.product-name {
    display: -webkit-box;
    display: box;
    line-height: 1.4em;
    min-height: calc(1.4em * 2);
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.price-tag {
    font-weight: 500;
    color: var(--primary-color);
}

.add-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: var(--primary-color);
    border-radius: 18px;
    border: 1px solid var(--border-color);
    padding: 6px 14px;
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--card-bg);
    transition: background-color 0.3s ease;
}

.add-btn:hover {
    background-color: var(--button-hover-bg);
}

/* 
/////////////// SKELETON LOADING ///////////////
*/

.skeleton-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
    height: 100%;
    width: 100%;
}

.skeleton-image {
    width: 200px;
    height: 200px;
    background: var(--skeleton-bg);
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.skeleton-text {
    width: 100%;
    height: 2rem;
    background: var(--skeleton-bg);
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.skeleton-text.rating {
    width: 40%;
}

.skeleton-text.short {
    width: 60%;
}

.skeleton-text.button {
    border-radius: 12px;
    width: 45%;
    margin-top: 2rem;
}

.start-align {
    align-self: flex-start;
}

.skeleton-image::after,
.skeleton-text::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150px;
    height: 100%;
    width: 150px;
    background: linear-gradient(
        90deg,
        var(--shimmer-color-start) 0%,
        var(--shimmer-color-middle) 50%,
        var(--shimmer-color-end) 100%
    );
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        left: -150px;
    }
    100% {
        left: 100%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 15px;
    }

    .skeleton-text {
        height: 1.48rem;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 14px;
    }

    .logo {
        height: 170px;
    }

    .buttons-container {
        gap: 1.5rem;
    }

    .theme-btn {
        width: 34px;
        height: 15px;
    }

    .theme-btn::before {
        width: 15px;
        height: 15px;
    }

    .theme-btn.dark::before {
        transform: translateX(19.5px);
    }

    .skeleton-text {
        height: 1.54rem;
    }
}

@media (max-width: 320px) {
    .logo {
        height: 150px;
    }
}
